<!-- Contact  -->
    <section class="bg-dark text-light p-5" id="contact">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <h2 class="text-center mb-4">Contact Us</h2>
                    <ul class="list-group list-group-flush lead text-center">
                        <li class="list-group-item  bg-dark text-light">CMR Institute of Technology<br>132 AECS Layout, Kundalahalli<br>Bengaluru 560037</li>
                        <li class="list-group-item  bg-dark text-light">95134-09378</li>
                    </ul>
                </div>
                <div class="col-md-8 text-center">
                    <h2 class="text-center mb-5">Keep in Touch</h2>
                    <a href="/twitter"><i class="bi bi-twitter" id="social-handles"></i></a>
                    <a href="/linkedin"><i class="bi bi-linkedin" id="social-handles"></i></a>
                    <a href="/facebook"><i class="bi bi-facebook" id="social-handles"></i></a>
                    <a href="/whatsapp"><i class="bi bi-whatsapp" id="social-handles"></i></a>
                    <a href="/instagram"><i class="bi bi-instagram" id="social-handles"></i></a>
                </div>
            </div>
        </div>
    </section>