<!-- Nav bar -->

        <nav class="navbar navbar-expand-md bg-dark navbar-dark py-2 fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">Samriddhi</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/circle/join?lat=$lat&lng=$lng" class="nav-link" id="join-circle-link">Join a circle</a>
                        </li>
                        <li class="nav-item">
                            <a href="/circle/register" class="nav-link">Register circle</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Farmers</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Shoppers</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Transporters</a>
                        </li>
                        <li class="nav-item ms-5 h5">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#cartModal">
                                <i class="bi bi-cart"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{user.name}} <i class="bi bi-person-check-fill"></i>
                                </a>
                              
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li>
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button class="dropdown-item" type="submit">Logout</button>
                                    </form>
                                  </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {{>cart}}

        <script>
        var lat = document.getElementById("lat");
        var lng = document.getElementById("lng");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    // Success function
                    showPosition, 
                    // Error function
                    null, 
                    // Options. See MDN for details.
                    {
                       enableHighAccuracy: true,
                       timeout: 5000,
                       maximumAge: 0
                    });
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        
        function showPosition(position) {
            var lat = position.coords.latitude
            var lng = position.coords.longitude
            document.getElementById("join-circle-link").setAttribute('href', "/circle/join?lat="+lat+"&lng="+lng)
        }

        window.onpaint = getLocation()
    </script>