<!-- Navigation bar  -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark py-2 fixed-top" style="z-index: 1;">
            <div class="container">
                <a href="/" class="navbar-brand">Samriddhi</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item ms-5">
                            <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#login-modal">Login <i class="bi bi-person-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>