<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/home.css">
    
    <title>Samriddhi</title>
</head>
<body>
    <!-- Background image -->
    <div class="bg-image" style="background-image: url('./images/vege2.jpg'); background-size: cover;">
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark py-2 fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand">Samriddhi</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item ms-5">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{user.name}} <i class="bi bi-person-check-fill"></i>
                                </a>
                              
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li>
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button class="dropdown-item" type="submit">Logout</button>
                                    </form>
                                  </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    
    <!-- About -->
    <section class="bg-dark text-light p-5" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg m-2">
                    <div class="card bg-light text-dark p-2">
                        <div class="card-body text-center">
                            <img src="./images/farmer.JPG" class="img-fluid w-50" alt="">
                            <h3 class="card-title mt-4 mb-3">Farmers</h3>
                            <p class="card-text">Increase your business by placing sales online, and enjoy increased profitability without hassle.</p>
                            <a href="#" class="btn btn-outline-dark">Announce Sales</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg m-2">
                    <div class="card bg-light text-dark p-2">
                        <div class="card-body text-center">
                            <img src="./images/Consumer.JPG" class="img-fluid w-50" alt="">
                            <h3 class="card-title mt-4 mb-3">Consumers</h3>
                            <p class="card-text">Enjoy fresh organic fruits and vegetables that are delivered directly at your doorstep.</p>
                            <a href="#" class="btn btn-outline-dark">Place Order</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg m-2">
                    <div class="card bg-light text-dark p-2">
                        <div class="card-body text-center">
                            <img src="./images/transport.JPG" class="img-fluid w-50" alt="">
                            <h3 class="card-title mt-4 mb-3">Transporters</h3>
                            <p class="card-text">Got a truck lying around but no one to hire it? Join us in delivery with attractive commissions.</p>
                            <a href="#" class="btn btn-outline-dark">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact  -->
    <section class="bg-dark text-light p-5" id="contact">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <h2 class="text-center mb-4">Contact Us</h2>
                    <ul class="list-group list-group-flush lead">
                        <li class="list-group-item  bg-dark text-light">CMR Institute of Technology, 132 AECS Layout, Kundalahalli, Bengaluru 560037</li>
                        <li class="list-group-item  bg-dark text-light">95134-09378</li>
                    </ul>
                </div>
                <div class="col-md-8 text-center">
                    <h2 class="text-center mb-5">Keep in Touch</h2>
                    <a href="#"><i class="bi bi-twitter" id="social-handles"></i></a>
                    <a href="#"><i class="bi bi-linkedin" id="social-handles"></i></a>
                    <a href="#"><i class="bi bi-facebook" id="social-handles"></i></a>
                    <a href="#"><i class="bi bi-whatsapp" id="social-handles"></i></a>
                    <a href="#"><i class="bi bi-instagram" id="social-handles"></i></a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="bg-dark text-white p-5 text-center position-relative">
        <div class="container">
            <p class="lead">Copyright &copy; 2022 Samriddhi</p>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1 text-white"></i>
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>