<!DOCTYPE html>
    <head>
        <title>
            Homepage
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home.css">
    </head>
        
    <body>
        <h1>SAMRIDDHI AGRI-COMMERCE</h1>
        <h2>Hello {{name}}</h2>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
        </form>

    <nav>
        <ul>
            <li><a class="nav-options" href="/">Home</a></li>
            <li><a class="nav-options" href="/login">Login</a></li>
            <li><a class="nav-options" href="/">Market</a></li>
        </ul>
    </nav>
    <section>
        <div class="sub-section">
            <div>
                <img src="#" alt="Some Image">
            </div>
            <div>
                <center>
                    <h2>Title</h2>
                    <p>Some stuff</p>
                </center>
            </div>
        </div>
        <div class="sub-section">
            <div>
                <center>
                    <h2>Title</h2>
                    <p>Some stuff</p>
                </center>
            </div>
            <div>
                <img src="#" alt="Some Image">
            </div>
        </div>
        <div class="sub-section">
            <div>
                <img src="#" alt="Some Image">
            </div>
            <div>
                <center>
                    <h2>Title</h2>
                    <p>Some stuff</p>
                </center>
            </div>
        </div>
    </section>
    <footer>
        <center>
            <ul>
                <li><b>Mail : </b> exapmle@gmail.com</li>
                <li><b>Contact : </b> +1 234 567 890</li>
                <li><b>Address : </b> #123,abc colony,banglore,India</li>
            </ul>
        </center>
    </footer>
</body>
</html>

