<!DOCTYPE html>
    <head>
        <title>
            Homepage
        </title>
    </head>
        
    <body>
        <h1>SAMRIDDHI AGRI-COMMERCE</h1>
        <a href="/login">Login</a>
    </body>
</html>
