#main-title{
    font-size: 500%;
}

#social-handles{
    color: #f8f9fa;
    margin: 0px 7px 0px 7px;
    padding: 4px 10px 6px 10px;
    font-size: 30px;
    border: solid 3px #f8f9fa; 
    border-radius: 8px
}

#social-handles:hover{
    color: #212529;
    background-color: #f8f9fa;
}

